In [197]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats  # 과학용 계산 라이브러리
from sklearn.datasets import load_linnerud

data = load_linnerud()
data

{'data': array([[  5., 162.,  60.],
        [  2., 110.,  60.],
        [ 12., 101., 101.],
        [ 12., 105.,  37.],
        [ 13., 155.,  58.],
        [  4., 101.,  42.],
        [  8., 101.,  38.],
        [  6., 125.,  40.],
        [ 15., 200.,  40.],
        [ 17., 251., 250.],
        [ 17., 120.,  38.],
        [ 13., 210., 115.],
        [ 14., 215., 105.],
        [  1.,  50.,  50.],
        [  6.,  70.,  31.],
        [ 12., 210., 120.],
        [  4.,  60.,  25.],
        [ 11., 230.,  80.],
        [ 15., 225.,  73.],
        [  2., 110.,  43.]]),
 'feature_names': ['Chins', 'Situps', 'Jumps'],
 'target': array([[191.,  36.,  50.],
        [189.,  37.,  52.],
        [193.,  38.,  58.],
        [162.,  35.,  62.],
        [189.,  35.,  46.],
        [182.,  36.,  56.],
        [211.,  38.,  56.],
        [167.,  34.,  60.],
        [176.,  31.,  74.],
        [154.,  33.,  56.],
        [169.,  34.,  50.],
        [166.,  33.,  52.],
        [154.,  34.,  64.],
        [247.,  46.,  50.],
        [193.,  36.,  46.],
        [202.,  37.,  62.],
        [176.,  37.,  54.],
        [157.,  32.,  52.],
        [156.,  33.,  54.],
        [138.,  33.,  68.]]),
 'target_names': ['Weight', 'Waist', 'Pulse'],
 'frame': None,
 'DESCR': '.. _linnerrud_dataset:\n\nLinnerrud dataset\n-----------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20\n    :Number of Attributes: 3\n    :Missing Attribute Values: None\n\nThe Linnerud dataset is a multi-output regression dataset. It consists of three\nexercise (data) and three physiological (target) variables collected from\ntwenty middle-aged men in a fitness club:\n\n- *physiological* - CSV containing 20 observations on 3 physiological variables:\n   Weight, Waist and Pulse.\n- *exercise* - CSV containing 20 observations on 3 exercise variables:\n   Chins, Situps and Jumps.\n\n.. topic:: References\n\n  * Tenenhaus, M. (1998). La regression PLS: theorie et pratique. Paris:\n    Editions Technic.\n',
 'data_filename': 'linnerud_exercise.csv',
 'target_filename': 'linnerud_physiological.csv',
 'data_module': 'sklearn.datasets.data'}

In [198]:
data.keys()

dict_keys(['data', 'feature_names', 'target', 'target_names', 'frame', 'DESCR', 'data_filename', 'target_filename', 'data_module'])

In [199]:
df = pd.DataFrame(data = data['target'], columns=data['target_names'])
df

    Weight  Waist  Pulse
0    191.0   36.0   50.0
1    189.0   37.0   52.0
2    193.0   38.0   58.0
3    162.0   35.0   62.0
4    189.0   35.0   46.0
5    182.0   36.0   56.0
6    211.0   38.0   56.0
7    167.0   34.0   60.0
8    176.0   31.0   74.0
9    154.0   33.0   56.0
10   169.0   34.0   50.0
11   166.0   33.0   52.0
12   154.0   34.0   64.0
13   247.0   46.0   50.0
14   193.0   36.0   46.0
15   202.0   37.0   62.0
16   176.0   37.0   54.0
17   157.0   32.0   52.0
18   156.0   33.0   54.0
19   138.0   33.0   68.0

In [200]:
df2 = pd.DataFrame(data = data['data'], columns=data['feature_names'])
df2

    Chins  Situps  Jumps
0     5.0   162.0   60.0
1     2.0   110.0   60.0
2    12.0   101.0  101.0
3    12.0   105.0   37.0
4    13.0   155.0   58.0
5     4.0   101.0   42.0
6     8.0   101.0   38.0
7     6.0   125.0   40.0
8    15.0   200.0   40.0
9    17.0   251.0  250.0
10   17.0   120.0   38.0
11   13.0   210.0  115.0
12   14.0   215.0  105.0
13    1.0    50.0   50.0
14    6.0    70.0   31.0
15   12.0   210.0  120.0
16    4.0    60.0   25.0
17   11.0   230.0   80.0
18   15.0   225.0   73.0
19    2.0   110.0   43.0

In [201]:
#Splitting the data into training and test test
X = df.iloc[:,0:3].values
Y = df2.iloc[:,0].values


from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [202]:
from keras import models
from keras import layers

def build_model(): 
    model = models.Sequential()
    model.add(layers.Dense(50, activation='relu',input_shape=(X_train.shape[1],)))
    model.add(layers.Dense(45, activation='relu'))
    model.add(layers.Dense(40, activation='relu'))
    model.add(layers.Dense(35, activation='relu'))
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    return model

In [203]:
model = build_model() 
model.fit(X_train, y_train, epochs=80, batch_size=16, verbose=0)
test_mse_score, test_mae_score = model.evaluate(X_test, y_test)

1/1 [==============================] - 0s 236ms/step - loss: 39.8762 - mae: 5.8131

In [204]:
model.summary()

Model: "sequential_20"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_91 (Dense)            (None, 50)                200

 dense_92 (Dense)            (None, 45)                2295

 dense_93 (Dense)            (None, 40)                1840

 dense_94 (Dense)            (None, 35)                1435

 dense_95 (Dense)            (None, 1)                 36

=================================================================
Total params: 5,806
Trainable params: 5,806
Non-trainable params: 0
_________________________________________________________________

In [205]:
test_mae_score

5.813052654266357